* {
 box-sizing: border-box;
}

.list {
 /* Contenedor */
 display: flex;
 gap: gutter2;
 flex-wrap: wrap;
 width: 100%;
 justify-content: space-evenly;
 /* align-items: center; */
 gap: 1rem;
 list-style: none;

}


.cripto {
 flex-basis: 200px;
 flex-grow: 1;
 max-width: 300px;
 background: #ccc;
 padding: 1em;
 border-radius: 5px;


}

.name {
 display: block;
}